<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218385830574-thpqdajgh9oo50nd2o1fbu17n4pm3oil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218385830574-thpqdajgh9oo50nd2o1fbu17n4pm3oil</string>
	<key>API_KEY</key>
	<string>AIzaSyDLfAQK5rOnABvx2FuBdQWWERIQA5VKfX4</string>
	<key>GCM_SENDER_ID</key>
	<string>218385830574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xbcodebase</string>
	<key>PROJECT_ID</key>
	<string>memorisevocabulary</string>
	<key>STORAGE_BUCKET</key>
	<string>memorisevocabulary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218385830574:ios:b6fd84af2e39dddd78933f</string>
</dict>
</plist>